.App {
  padding: 2.5rem;
}

form {
  min-width: 300px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.65rem 0.45rem;
  font-family: monospace;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


input:focus, textarea:focus {
  font-weight: bold;
  color: dodgerblue;
  outline:2px auto #646cff;
  border-radius: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  width: 400px;
  height: 400px;
  margin-top: 1.25rem;
  padding: 2rem 1rem;
  position: relative;
}